1. 홍길동 씨의 과목 평균 점수

In [1]:
국어 = 80
영어 = 75
수학 = 55
print((국어+영어+수학)/3)

70.0

2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법
    - 13을 2로 나눴을 때 나머지가 0이면 짝수 1이면 홀수
    - 홀수

In [9]:
number = 13

if number % 2 == 0:
    print(number, "은 짝수입니다.")
else:
    print(number, "은 홀수입니다.")

13 은 홀수입니다.

3. 홍길동 씨의 주민번호를 연원일 부분과 숫자부분 나누기

In [14]:
pin = "881120-1068234"
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

4. 주민등록번호에서 성별을 나타내는 수자 출력
    - 맨앞 숫자 인덱싱하기

In [12]:
pin = "881120-1068234"
print(pin[7])

1

5. replace 함수를 사용하여 a#b#c#d로 바꾸기

In [19]:
a = "a:b:c:d"
b = a.replace(":","#")
print(b)

a#b#c#d

6. [1,3,5,4,2] => [5,4,3,2,1]
    - sort, reverse

In [21]:
a = [1,3,5,4,2]
a. sort()
print(a)
a. reverse()
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

7. ['Life','is','too','short'] => Life is too short

In [27]:
a = ['Life','is','too','short']
result = " ".join(a)
print(result)

Life is too short

8. 튜플(1,2,3)에 값 4를 추가

In [14]:
a = (1,2,3)
a = a + (4,)
print(a)

(1, 2, 3, 4)

9. 오류 찾기
    - 3,4번째

In [15]:
a = dict()
print(a)

print('-'*50)

a['name'] = 'python'
print(a)

print('-'*50)

a[('a',)] = 'python'
print(a)

print('-'*50)

# a[[1]] = 'python'
# print(a)                # 리스트는 변하는 값이기 때문에 오류발생

print('-'*50)

a[250] = 'python'
print(a)

{}
--------------------------------------------------
{'name': 'python'}
--------------------------------------------------
{'name': 'python', ('a',): 'python'}
--------------------------------------------------
--------------------------------------------------
{'name': 'python', ('a',): 'python', 250: 'python'}

10. 딕셔너리 a에서 'B'에 해당하는 값을 추출해 보자.

In [4]:
a= {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'C': 70}
80

11. a 리스트에서 중복 숫자를 제거해 보자.

In [17]:
a= [1,1,1,2,2,3,3,3,4,4,5]
aSet = set(a)
b = list(aSet)
print(b)

[1, 2, 3, 4, 5]

12. a,b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b의 값은 어떻게 될까?
    - b의 값은 a값과 같은 값으로 변환된다.
    - 이유는 a,b 둘다 [1,2,3]이라는 리스트 객체를 가리키고 있기 때문

In [11]:
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]